<div class="center jumbotron title">
  <h1>「楽しい」を共有しよう　Revie</h1>
  <p>書評・レビューを書いて、あなたの感想を共有しよう。もしかしたら、その評価がお金になるかもしれません。小説・漫画・映画・ゲームなんでもOK</p>
</div>
<% breadcrumb :aboutus %>
  <h2>最新の更新</h2>
  <div class="row row-eq-height">
    <div class="panel panel-default col-md-6">
      <% latest_update.each do |update|%>
        <%= link_to update do%>
          <div class="panel panel-primary"><%= update[:created_at] %>更新</div>
          <div class="panel-body"><p class="update"><%= update[:title] %></p></div>
        <% end %>
    <% end %>
  </div>

<div class="col-md-6">
</div>
<div class="col-md-6">
</div>

    <div class="col-md-6">
      <h2>感想を表現したい。でも、SNSで目立ちたくない。</h2>
      <p>本を読んだ時、映画を見た時、ゲームをクリアした時、どんな時でもいいけれど、
        ふと「この感動を誰かに伝えたいとおもったことはありませんか？
        そんな時、SNSではなんだか格好をつけてるみたいだし、すぐに埋もれて消えてしまう。
        そんな思いを持った方に、ぜひこのサイトで気軽に「楽しい」を共有していただきたいです。</p>
    </div>

    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>

    <div class="col-md-6">
      <h2>もしかしたら、人を感動させる評論になるかもしれない。</h2>
      <p>あなたの書いた評論は、本当に匿名掲示板やSNSで消費されるコンテンツなのでしょうか？
        もともと、評論とは1つの文学的活動であり、十分に世に出す価値のあるものです。
        インターネットの発達によって消費されるようになった評論ですが、あなたの評論は少し違うかもしれません。
        ひょっとすると誰かを感動させるかもしれない。そんな可能性を確かめて見ませんか？</p>
    </div>

    <div class="col-md-6">
    </div>
    <div class="col-md-6">
    </div>

<aside class="col-md-6">
<h2>レビューを書いて見ませんか</h2>
    <% if logged_in? %>
          <section class="user_info">
            <%= render 'shared/user_info' %>
          </section>
          <section class="stats">
            <%= render 'shared/stats' %>
          </section>
          <section class="review_form">
            <%= render 'shared/review_form' %>
          </section>
      <% else %>
        <%= render 'shared/review_form' %>
        <div class="text-right">
          <span>会員なら本棚作成や報酬受取が可能です</span>
          <li class="btn btn-primary"><%= link_to "会員登録 ＞", signup_path %></li>
        </div>
    <% end %>
</aside>
</div>
