<script>
function link_to(link) {
  location.href = link;
}
</script>

<h1>絶対に信頼できる履歴書を</h1>
<h2>ブロックチェーンで働きぶりまで追跡</h2>
<div class="row">
  <aside class="col-md-6">
<h4>何をやるのか</h4>
<p>ブロックチェーンを用いて社内の評価を全て保存。働きぶりと職場・賞罰を全て管理します。</p>
<h4>なぜやるのか</h4>
<p>今は人手不足だと言われていますが、転職できずにブラック企業に苦しむ人もいます。転職をもっと確実なものにすることで、本当に頑張りたい人がリスクを取らなくて良い社会を実現したいです。</p>
  </aside>
</div>

<div class="row">
  <aside class="col-md-6">
<% if logged_in? %>
<div class=button>
  <%= link_to "マイページへ", current_user,class: "btn btn-primary" %>
</div>
</aside>
</div>


  <%= link_to "ログアウト", logout_path, method: :delete,class: "btn" %>

<% else %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動的にログイン</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>まだの方は <%= link_to "会員登録へ", signup_path %></p>
  </div>
</div>
<% end %>
