<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :storedData %>
    <%= form.text_area :storedData %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :sender %>
    <%= form.text_area :sender %>
  </div>

  <div class="field">
    <%= form.label :receiver %>
    <%= form.text_area :receiver %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
