<p id="notice"><%= notice %></p>

<p>
  <strong>Storeddata:</strong>
  <%= @contract.storedData %>
</p>

<p>
  <strong>Status:</strong>
  <%= @contract.status %>
</p>

<p>
  <strong>Sender:</strong>
  <%= @contract.sender %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @contract.receiver %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
