<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :birth %>
  <%= f.date_field :birth, class: 'form-control' %>

  <%= f.label :occupation %>
  <%= f.text_field :occupation, class: 'form-control' %>

  <%= f.label :age %>
  <%= f.number_field :age, class: 'form-control' %>

  <%= f.label :profile %>
  <%= f.text_field :profile, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
