<% provide(:title, @user.name) %>
<% breadcrumb :user, @user %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= @user.id %>
        <%= @user.name %>
      </h1>
    </section>
    </aside>
  <aside class="col-md-6">
    <table class="prof">
      <h2>プロフィール</h2>
    <tbody>
    <tr><td>生年月日</td><td><%= @user.birth %></td></tr>
    <tr><td>職種</td><td><%= @user.occupation %></td></tr>
    <tr><td>年齢</td><td><%= @user.age %></td></tr>
    <tr><td>自己紹介</td><td><%= @user.profile %></td></tr>
    </tbody>
    </table>
  </aside>
  <div class="col-md-12">
    <table class="hist">
    <h2>経歴</h2>
    <tbody>
    <tr><td>所属</td><td>期間</td><td>評価</td><td>部下</td><td>同僚</td><td>上司</td></tr>
    <tr><td>京都大学　工学部</td><td>2008-04-01</td><td>スキル</td><td>0</td><td>1</td><td>1</td></tr>
    <tr><td></td><td>2010-03-31</td><td>人物</td><td>1</td><td>1</td><td>1</td></tr>
    <tr><td>東京大学　文学部</td><td>2008-04-01</td><td>スキル</td><td>1</td><td>1</td><td>1</td></tr>
    <tr><td></td><td>2010-03-31</td><td>人物</td><td>1</td><td>1</td><td>1</td></tr>
    <tr><td>アクセンチュア</td><td>2015-04-01</td><td>スキル</td><td>1</td><td>1</td><td>1</td></tr>
    <tr><td></td><td>2017-07-31</td><td>人物</td><td>1</td><td>1</td><td>1</td></tr>
    <tr><td>ジラフ</td><td>2017-07-01</td><td>スキル</td><td>1</td><td>1</td><td>1</td></tr>
    <tr><td></td><td></td><td>人物</td><td>1</td><td>1</td><td>1</td></tr>
    </tbody>
    </table>
  </div>
<% if current_user?(@user) %>
  <div class="col-md-12">
    <% if logged_in? %>
    <h2>リスペクトを送信する</h2>
    <br>
      <%= button_tag type: 'button', onclick: "link_to('#{create_contract_path}')" do %>
        <%= '新規作成' %>
      <% end %>
    <br>
    <% @contract = Contract.new unless @contract %>
      <%= form_for @contract, url: update_contract_path do |form| %>
        <%= form.text_field :receiver,:placeholder => "同僚さん" %> <span>の</span>
        <%= form.text_field :storedData,:placeholder => "スキル/人間性" %> <span>を</span>
        <%= form.text_field :storedData,:placeholder => "コイン分" %> <span>尊敬します。</span>
        <br><span>from</span><%= form.text_field :sender, :placeholder => "部下/同僚/上司" %>
        <%= form.submit %>
      <% end %>

      <%= link_to "ログアウト", logout_path, method: :delete %>

    <% else %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>次回から自動的にログイン</span>
          <% end %>

          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>

        <p>まだの方は <%= link_to "会員登録へ", signup_path %></p>
      </div>
    </div>
    <% end %>
      <%= will_paginate @reviews %>
    <% end %>
</div>
</div>
