<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "共感したらコメントしよう..." %>
    <% if logged_in? %>
    <div class="field">
      <%= f.check_box :user_id,{:checked => false},checked_value = current_user.id ,unchecked_value = 5%>
      <span>アカウント名を公開して投稿する</span>
    </div>
    <% end %>
    <%= f.hidden_field :review_id, value: review.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
