<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :from %>
    <%= form.number_field :from %>
  </div>

  <div class="field">
    <%= form.label :to %>
    <%= form.number_field :to %>
  </div>

  <div class="field">
    <%= form.label :event_flag %>
    <%= form.number_field :event_flag %>
  </div>

  <div class="field">
    <%= form.label :logged_at %>
    <%= form.date_select :logged_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
