<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @event.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @event.to %>
</p>

<p>
  <strong>Event flag:</strong>
  <%= @event.event_flag %>
</p>

<p>
  <strong>Logged at:</strong>
  <%= @event.logged_at %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
