<p id="notice"><%= notice %></p>

<h1>Corps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @corps.each do |corp| %>
      <tr>
        <td><%= corp.name %></td>
        <td><%= corp.format %></td>
        <td><%= link_to 'Show', corp %></td>
        <td><%= link_to 'Edit', edit_corp_path(corp) %></td>
        <td><%= link_to 'Destroy', corp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corp', new_corp_path %>
