<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h1>
        <%= @corp.name %>
      </h1>
      <h2>
      <%= @corp.format %>
      </h2>
    </section>
    </aside>
  <aside class="col-md-6">
    <h2>入社と退社を記録する</h2>
    <br>
      <%= button_tag type: 'button', onclick: "link_to('#{create_contract_path}')" do %>
        <%= '新規作成' %>
      <% end %>
    <br>
    <% @event = Event.new unless @event %>
      <%= form_for @event, url: create_event_path do |form| %>
        <span>企業ID</span><%= form.text_field :from,:value => @corp.id %> <span>から</span>
        <%= form.text_field :to,:placeholder => "対象ID" %> <span>の</span>
        <%= form.select :event_flag,[["入社","0"],["退職","1"]] %> <span>を</span>
        <%= form.date_field :logged_at %> <span>に記録します。</span>
        <%= form.submit %>
      <% end %>
  </aside>
