<div class="page-header">
<h1>Rebieへのお問い合わせ</h1>
</div>
<%= form_for @contact, :url => contact_confirm_path do |f| %>
  <% if @contact.errors.any? %>
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>

  <table>
    <tr>
      <th>名前（必須）</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>メールアドレス（必須）</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>お問い合わせ内容</th>
      <td><%= f.text_area :message %></td>
    </tr>
  </table>
  <%= f.submit '確認' %>
<% end %>
