@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html{
  background-color: rgb(200,200,200);
}

body{
  max-width: 1200px;
  min-width: 320px;
  padding-top: 35px;
  margin: auto;
}

table.hist{
  width: 600px;
  border: 1px solid;
}
table.prof{
  border: 1px solid;
}
table >tbody > tr{
  border: 1px solid;
}
table >tbody > tr > td{
  border: 1px solid;
}
table.prof >tbody > tr > td:nth-of-type(1){
  width: 100px
}
table.hist >tbody > tr > td{
  text-align: center;
}
