<p id="notice"><%= notice %></p>
<div class="page-header">
<h1>レビューを最新順で見る</h1>
<% breadcrumb :reviews %>
<ul class="list-group">
    <% @reviews.each do |review| %>
        <li class="list-group-item">
          <%= link_to review do %>
            <div class="main-title"><%= review.title %></div>
            <div class="sub-element"><%= review.item.title %></div>
            <div class="sub-element"><%= review.point %></div>
            <div class="description"><%= review.content.truncate(100) %></div>
            <% end %>
        <% if logged_in? && current_user.admin?%>
          | <%= link_to 'Edit', edit_review_path(review) %>
          | <%= link_to "delete", review, method: :delete,
                                        data: { confirm: "本当に削除しますか" } %>
        <% end %>
        </li>
    <% end %>
</ul>
</div>
